.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.container{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.login{
  width:30rem;
  border: 2px solid grey;
  margin: 4rem 0;
  text-align: center;
  padding: 1rem 0;
}
.login__header-sub{
  padding: 0;
  margin: 0;
}
.login__header-main{
  padding: 0;
  margin: 0;
}

.login__main-text{
  margin: 0.75rem 0 1rem 0;
  padding: 0;
}
.selectingOptions{
  width: 70%
}
.option-img{
width:4rem;
height:4rem;
border-radius: 50%;
margin-right: 1rem;
}
.option-name{
  text-align: center;
}

.login__button{
  padding: 1rem 3rem;
  border: none;
  outline: none;
  background-color: rgb(1, 46, 1);
  color: #fff;
  margin: 2rem 0;
  border-radius: 5px;
  font-size: 1.2rem;
  cursor: pointer;
}

.navigationContainer{
  background-color: rgb(1, 46, 1);  
}
.linked{
  color: #fff !important;
  font-size: 1rem !important;
  font-weight: 500 !important;
  padding: 0.5rem 1.5rem !important;
  text-decoration: none!important;
  
}
.userprofile{
  display: flex;
}
.user__name{
  font-size: 1rem;
  color: #fff;
  margin-left: 0.3rem;
}
.imageContainer{
  margin: 0 1rem 0 0.5rem;
  width:3rem;
  height: 3rem;
}
.logout{
  font-size: 1rem !important;
  color: #fff !important;
}

/* Home page */

.home{
  width:30rem;
   border: 2px solid grey;
   padding:0.5rem 0;
   margin: 4rem 0;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
.home__tab{
  width: 100% !important;
  display: flex;
  justify-content: center;
  align-items: center;
}
.tab-content{
  width: 100%;
  padding: 2rem;
}

/* unanswered questions */
.questions{
  border: 2px solid grey;
  width: 100% !important; 
  margin-bottom: 1rem;
}

.questions__content-name{
margin: 0;
padding: 0.3rem;
font-size: 1.2rem;
font-weight: 500;
text-align: center;
}

.questions__content--sub{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}
.sub-left{
  width: 4rem;
  height: 4rem;
}

.sub-right{
  width: 70%;
}

.viewpoll{
  padding: 1rem 3rem;
  outline: none;
  border: none;
  color: #fff;
  border-radius: 5px;
  background-color: rgb(1, 46, 1);
  font-weight: 500;
}


/* create question */
.createQuestion{
width: 35rem;
border: 2px solid grey;
padding: 1rem 0;
margin: 4rem 0;
}
.createQuestion__heading{
  text-align: center;
}

form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}
.poll-form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:100%
}
.text{
  text-align: center;
}
input[type='text']{
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
}

label{
  margin: bottom 0.5rem;
  font-weight: 500;
}

/* poll */

.poll{
  width: 35rem ;
  border: 2px solid grey;
  margin-bottom: 1rem;
  
}

.vote__sub{
  border: 2px solid grey;
  padding:1rem;
  margin-top: 1rem;
  width: 100%;
}
.vote__result{
  border-radius: 50%;
  background-color: rgb(3, 54, 3);
  width:4rem;
  height: 4rem;
  text-align: center;
  color: #fff;
  font-weight: 500;
}

.percentage-bar{
  background-color: grey;
}

/* leader board */
.leaderboard__content{
  width: 40rem;
  padding: 1rem;
  border: 2px solid grey;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.result__content{
  display: flex;
  justify-content: space-between;
}

.option{
  border: 2px solid grey;
  margin-bottom: 1rem;
  padding: 1rem;
}

.leaderboard__image{
  width: 3rem;
  height: 3rem;
}